
	<%- partial('../header') %>

	<%- partial('../sidebar') %>


                        <!-- Main content -->
                        <section class="content">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <i class="fa fa-user"></i>
                                            <h3 class="box-title"><%= user.infos.firstname  %> - <%= user.infos.mail  %></h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="callout callout-info">
                                                <h4>Résumé du profil</h4>

                                                <div class="box-body chart-responsive">
                                                    <div class="chart" id="user-chart" style="height: 300px; position: relative;"></div>
                                                </div><!-- /.box-body -->

                                            </div>

                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->

                                <div class="col-md-6">
                                    <div class="box box-info">
                                        <div class="box-header">
                                            <i class="fa fa-folder-open"></i>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="callout callout-info">
                                                <h4>Historique des photos uploadées</h4>
                                                <% if(typeof user.photos != undefined){ %>
                                                    <div class="user-photo">
                                                        <ul>
                                                        <% _.each(user.photos, function(photo, index) { %>
                                                            <li>
                                                                <img src="/<%- user.dir_photos %><%- photo %>" />
                                                                <p><%= user.moment(user.date_photos[index]).format('DD/MM/YYYY  HH:mm') %></p>
                                                            </li>

                                                        <% }); %>
                                                        </ul>
                                                    </div>
                                                <% }else{ %>
                                                    Aucune photo uploadée
                                                <% } %>

                                                </p>
                                            </div>

                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div><!-- /.col -->

                            </div><!-- /.row -->

                            <div class="row">

                                <div class="col-md-6">

                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab_1">Liste des playlists créées</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab_2">Liste des playlists rejointes</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab_1" class="tab-pane active">

                                                <% if(user.playlists.length){ %>
                                                <div class="box">
                                                    <div class="box-body table-responsive">
                                                        <table id="tableau1" class="table table-bordered table-striped tableau">
                                                            <thead>
                                                                <tr>
                                                                    <th>Photo</th>
                                                                    <th>Nom</th>
                                                                    <th>URL</th>
                                                                    <th>Date création</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <% _.each(user.playlists, function(playlist) { %>
                                                                <tr>
                                                                    <td><img width="20px" height="20px" src="<%= playlist.image %>" alt="<%= playlist.name %>"/></td>
                                                                    <td><%= playlist.name %></td>
                                                                    <td><%= playlist.url %></td>
                                                                    <td><%= user.moment(playlist.createdAt).format('DD/MM/YYYY HH:mm') %></td>
                                                                </tr>
                                                            <% }) %>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Photo</th>
                                                                    <th>Nom</th>
                                                                    <th>URL</th>
                                                                    <th>Date création</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                                <% }else{ %>
                                                        Aucune playlist créée
                                                <% } %>

                                            </div><!-- /.tab-pane -->
                                            <div id="tab_2" class="tab-pane">


                                                <% if(user.joined.length){ %>
                                                <div class="box">
                                                    <div class="box-body table-responsive">
                                                        <table id="tableau2" class="table table-bordered table-striped tableau">
                                                            <thead>
                                                                <tr>
                                                                    <th>Playlist ID</th>
                                                                    <th>Date 1ère arrivée</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            <% _.each(user.joined, function(join) { %>
                                                                <tr>
                                                                    <td><%= join.playlist %></td>
                                                                    <td><%= user.moment(join.createdAt).format('DD/MM/YYYY HH:mm') %></td>
                                                                </tr>
                                                            <% }) %>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th>Playlist ID</th>
                                                                    <th>Date 1ère arrivée</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                                <% }else{ %>
                                                        Aucune playlist rejointe
                                                <% } %>


                                            </div><!-- /.tab-pane -->
                                        </div><!-- /.tab-content -->
                                    </div><!-- /.nav-tabs-custom -->
                                </div><!-- /.col -->
                            </div><!-- /.row -->

                        
                </section><!-- /.content -->
            </aside><!-- /.right-side -->



        <%- partial('../footer') %>


        <!-- DATA TABES SCRIPT -->
        <script src="/js/admin/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/js/admin/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="/js/admin/AdminLTE/app.js" type="text/javascript"></script>

        <!-- page script -->
        <script type="text/javascript">
            $(document).ready(function(){
                $("[id^=tableau]").dataTable({
                    "pageLength": 25,
                    "lengthMenu":  [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
                    "language": {
                        "url": "css/plugins/dataTables/fr_FR.txt"
                    }
                });

                //DONUT CHART
                var donut = new Morris.Donut({
                    element: 'user-chart',
                    resize: true,
                    colors: ["#3c8dbc", "#D0E3F0"],
                    data: [
                        {label: "Playlist créées", value: <%= user.nb_playlists  %>},
                        {label: "Playlist rejointes", value: <%= user.nb_joined  %> },
                    ],
                    hideHover: 'auto'
                });
            });

        </script>
