<div class="desktop-container">

	<section class="w400p left col-left">
		<div class="topSidebar">
			<div class="logo"></div>
			<img class="playlistprofil" src="<%= session.User.image %>" alt="<%= session.User.firstname %>">
			<h3 class="form-signin-heading txtcenter"><%= session.User.firstname %></h3>
		</div>
		<section class="line">
			<aside class="mod left w50 txtcenter sidebar">
				<h3>Bubble code</h3>
				<h3><%= playlist.url %></h3>
			</aside>
			<aside class="mod left w50 txtcenter sidebar">
				<a href="/desktop/playlist/"><i class="icon-croixclosesuppr"></i>Close bubble</a>
			</aside>
		</section>


		<div class="participantSidebar">
			<h4 class="form-signin-heading txtcenter">Participants</h4>
			<div class="wrapperParticipants">
				<i class="icon-flecheg listeParticipant-backward"></i>
				<div class="listeParticipant" data-carousel="">
					<%- partial('partials/members')%>
				</div>
				<i class="icon-fleched listeParticipant-forward"></i>
			</div>
		</div>

		<div class="playlistContent" id="playlistencours" >
			<h4 class="form-signin-heading txtcenter">Play queue</h4>
			<ul class="liPlaylist" data-playlist="">
				<%- partial('partials/currentPlaylist')%>
			</ul>
		</div>

		<footer>
			<ul>
				<li>Crédits/Contact</li>
				<li>Twitter</li>
			</ul>

		</footer>

	</section>

	<!-- <section class="w60 player center col-right <% if(typeof(songs) != 'undefined' && songs.length == 0) { %>invisible<% } %>"> -->
	<section class="w60 player center col-right">

		<p>Playlist : <%= playlist.name %> </p>
		<button id="test_1">Aller à la fin du morceau</button>



<!-- 		<div class="ui360 ui360-vis">
			<a type="audio/mp3" href=""></a>
			
		</div> -->

		<div class="player_bubble_container">
			<div class="player_bubble">
				<input class="player_circle" data-height="500" data-width="500" data-fgColor="#fff" data-bgColor="rgba(255,255,255,0.7)" data-skin="tron" data-thickness=".05" data-displayInput="false" data-min="0" data-max="" value="" readOnly="true">
				<div class="player_timing"></div>

				<div class="player_track_artist"></div>
				<div class="player_track_name"></div>
				<div class="player_play_pause"></div>
				<div class="player_track_like"><span>0</span><i class="icon-coeuralone"></i></div>
				<div class="player_track_dislike"><span>0</span><i class="icon-thumbalone"></i></div>
				<div class="player_carousel_like_dislike_container invisible">
					<i class="icon-flecheg player_carousel_like_dislike_backward invisible"></i>
					<div class="player_carousel_like_dislike">
						<ul>

						</ul>
					</div>
					<i class="icon-fleched player_carousel_like_dislike_forward invisible"></i>
				</div>
			</div>
		</div>

	</section>


	<!-- reception de la cover de la musique -->
	<div id="reception">
	</div>

	<script>
		var user = {
			id : "<%= session.User.id %>",
			email : "<%= session.User.mail %>",
			prenom :  "<%= session.User.firstname %>",
			room : "<%= room %>"
		};
	</script>

</div>

