
<div class="credits">
	<section class="creditBox">
		<section class="creditleft">
			<h2>Crédits</h2>
			<div class="creditLink">
				<h3>METRIZE ICONS</h3>
				<a href="www.alessioatzeni.com/metrize-icons">www.alessioatzeni.com/metrize-icons</a>
				<h3>MFG Labs</h3>
				<a href="www.mfglabs.com">www.mfglabs.com</a>
			</div>

			<div class="creditTeam">
				<h3>THE TEAM</h3>
				<p>
					<a href="">Audrey Turquand :</a> Project manager / Designer</br>
					<a href="">Claire Fénart : </a>Designer</br>
					<a href="">Alexandre Guerard :</a> Front-end developer</br>
					<a href="">Florent Grandval :</a> Back-end developer</br>
					<a href="">Sylvain Mroczko :</a> Back-end developer</br>
				</p>
			</div>


			<a class="creditWebsite" href="wwww.bubbleapp.fr">wwww.bubbleapp.fr</a>
		</section>
		<section class="creditright">
			<h2>Contact</h2>
			<p>You want to report a bug or just to send us love ?</br>
Drop us a line here !</p>

			<form action="" method="post" class="creditForm">
			    <label>
			        <input id="name" type="text" name="name" placeholder="Your Name" />
			    </label>
			    
			    <label>
			        <input id="email" type="email" name="email" placeholder="Object" />
			    </label>
			    
			    <label>
			        <textarea id="message" name="message" placeholder="Your message"></textarea>
			    </label> 
			    <label class="phoneNumber">
			    	<p>+33 6 80 77 76 63</p>
			    </label>   
			    <label>
			        <span>&nbsp;</span> 
			        <input type="button" class="button" value="Send" /> 
			    </label>    
			</form>
			
		</section>
		<div class="closeCredits">
			<i class="icon-croixclosesuppr"></i>
		</div>
	</section>
</div>


<div class="desktop-container">
	<section class="w400p left col-left">
		<div class="accountLogIn">
			<i class="icon-deezer active"></i>
			<i class="icon-spotify"></i>
		</div>
		<div class="topSidebar txtcenter">
			<div class="logo"></div>
			<img class="playlistprofil" src="<%= session.User.image %>" alt="<%= session.User.firstname %>" data-user-id="<%= session.User.id %>">
			<h3 class="form-signin-heading "><%= session.User.firstname %></h3>
			<a href=""><i class="icon-menu"></i></a>
			<a class="topSidebarLogOut" href="/logout" title="Se deconnecter">Log out</a>
		</div>
		<section class="twoBlocks">
			<aside class="mod left w50 txtcenter sidebar">
				<h3>Bubble code</h3>
				<h3 class="bubbleCode"><%= playlist.url %></h3>
			</aside>
			<aside class="mod left w50 txtcenter sidebar">
				<a href="/desktop/playlist/"><i class="icon-croixclosesuppr"></i>Close bubble</a>
			</aside>
		</section>


		<div class="participantSidebar">
			<h4 class="form-signin-heading txtcenter">Participants</h4>
			<div class="wrapperParticipants">
				<i class="icon-flecheg listeParticipant-backward"></i>
				<div class="listeParticipant" data-carousel="">
					<%- partial('partials/members')%>
				</div>
				<i class="icon-fleched listeParticipant-forward"></i>
			</div>
		</div>

		<div class="playlistContent" id="playlistencours" >
			<h4 class="form-signin-heading txtcenter">Play queue</h4>
			<ul class="liPlaylist" data-playlist="">
				<%- partial('partials/currentPlaylist')%>
			</ul>
		</div>

		<footer>
			<ul>
				<li class="creditsButton">Crédits/Contact</li>
				<li>Twitter</li>
			</ul>

		</footer>

	</section>

	<!-- <section class="w60 player center col-right <% if(typeof(songs) != 'undefined' && songs.length == 0) { %>invisible<% } %>"> -->
	<section class="w60 player center col-right">

		<p>Playlist : <%= playlist.name %> </p>
		<button id="test_1">Aller à la fin du morceau</button>



<!-- 		<div class="ui360 ui360-vis">
			<a type="audio/mp3" href=""></a>
			
		</div> -->
		<div class="block">

		<div class="player_bubble_container">
			<div class="player_bubble">
				<input class="player_circle" data-height="220" data-width="220" data-fgColor="#fff" data-bgColor="rgba(255,255,255,0.7)" data-skin="tron" data-thickness=".05" data-displayInput="false" data-min="0" data-max="" value="" readOnly="true">
				<div class="player_timing"></div>

				<div class="player_track_artist"></div>
				<div class="player_track_name"></div>
				<div class="player_play_pause"></div>
				<div class="player_track_dislike"><span>0</span><i class="icon-thumbalone"></i></div><div class="player_track_like"><span>0</span><i class="icon-coeuralone"></i></div>
				<div class="player_carousel_like_dislike_container invisible">
					<i class="icon-flecheg player_carousel_like_dislike_backward invisible"></i>
					<div class="player_carousel_like_dislike">
						<ul>

						</ul>
					</div>
					<i class="icon-fleched player_carousel_like_dislike_forward invisible"></i>
				</div>
			</div>
		</div>
		</div>

	</section>


	<!-- reception de la cover de la musique -->
	<div id="reception">
	</div>



	<script>
		var user = {
			id : "<%= session.User.id %>",
			email : "<%= session.User.mail %>",
			prenom :  "<%= session.User.firstname %>",
			room : "<%= room %>"
		};
	</script>

</div>


