<% if(typeof(songs) != "undefined") { %>

	<ul>

	<% if(songs.length > 0) { %>

		<% _.each(songs, function (playlist) { %>

			<% _.each(playlist.songs, function (song) { %>

			<li data-id="<%= song.songTrackId %>" data-songService="<%= song.songService %>">

				<div class="action delete">
					<% if (session.User.id == song.user && song.songStatus == 'waiting') { %>
						<i class="icon-croixclosesuppr"></i>
					<% } %>
				</div>

				<div>
					<strong><%= song.songTrackName %></strong>
					<span><%= song.songTrackArtist %></span>
				</div>
				<%
				    // Calcul duree en secondes
				    var minutes = Math.floor(song.songTrackDuration / 60000);
				    var secondes = Math.round( (song.songTrackDuration - minutes * 60000)/1000 );
				    secondes = (secondes < 10 ) ? '0'+secondes : secondes;
				    var duree = minutes+"'"+secondes;
				%>
				<div>
					<span><%= duree %></span>
				</div>

			</li>

			<% }); %>

		<% }); %>

	<% }else{ %>

		<p>The current bubble is empty, add a song !</p>

	<% } %>

	</ul>

<% } %>