<% if(typeof(songs) != "undefined") { %>

	<ul>

	<% if(songs.length > 0) { %>

		<% _.each(songs, function (playlist) { %>

			<% _.each(playlist.songs, function (song) { %>

			<li data-id="<%= song.songTrackId %>" data-songService="<%= song.songService %>">

				<div class="action delete">
					<% if (session.User.id == song.user && song.songStatus == 'waiting') { %>
						<i class="icon-croixclosesuppr"></i>
					<% } %>
				</div>

				<div>
					<strong><%= song.songTrackName %></strong>
					<span><%= song.songTrackArtist %></span>
				</div>
				<%
					temps = String(song.songTrackDuration / 60000);
					temps = (Math.round( temps * 100 )/100 );
					temps = temps.toFixed(2).toString();
					temps = temps.replace(".","'");
				%>
				<div>
					<span><%= temps %></span>
				</div>

			</li>

			<% }); %>

		<% }); %>

	<% }else{ %>

		<p>The current bubble is empty, add a song !</p>

	<% } %>

	</ul>

<% } %>