<% if(typeof(discoveries) != "undefined") { %>

	<% if(discoveries.length > 0) { %>
		<ul>

			<% _.each(discoveries, function (discover){ %>

			<li>
				<div class="headDiscovery">
					<a class="action deleteDiscovery" title="Supprimer" href="javascript:void(0)"><i class="icon-croixclosesuppr"></i></a>

					<div data-track-id="<%= discover.song.songTrackId %>" data-id="<%= discover.id %>">
						<strong><%= discover.song.songTrackArtist %></strong>
						<span><%= discover.song.songTrackName %></span>
					</div>
					<div>
						<img src="<%= discover.song.userInfo.image %>" alt="<%= discover.song.userInfo.firstname %>"/>
					</div>
					<div >
						<a class="dropDown"  href="javascript:void(0)" title="Discovery Action"><i class="icon-chevron"></i></a>
					</div>
				</div>
				<div class="discoveryAction">
					<a class="" href="" title="Add the track to the playslist"><i class="icon-playlist"></i></a>
					<a href="<%= discover.song.songPermalinkUrl %>" target="_blank" title="<%= discover.song.songTrackName %>"><i class="icon-<%= discover.song.songService %>ecouter"></i></a>
					<a class="action deleteDiscovery" title="Supprimer" href="javascript:void(0)"><i class="icon-croixclosesuppr"></i></a>
				</div>





			</li>

		<% }); %>
	</ul>


	<% } else { %>

		<p> Aucune découverte pour le moment </p>

	<% } %>

<% } %>