<% if(typeof(historic) != "undefined") { %>

<% if(historic.length > 0) { %>

<% _.each(historic, function (histo) { %>

			<li class="playlistHist" data-historic-url="<%= histo.playlist.url %>">
				<h4><a href="<%= histo.playlist.url %>"><%= histo.playlist.name %></a></h4>
				<%
					var playlistDate = dateFormat(histo.playlist.createdAt);

					function dateFormat(date) {
					    var d = date.getDate();
					    var m = date.getMonth() + 1;
					    var y = date.getFullYear();
					    return (d <= 9 ? '0' + d : d) + '/' + (m<=9 ? '0' + m : m) + '/' + y;
					}

				%>
				<span><%= playlistDate %></span>
				<img src="<%= histo.playlist.image %>" alt="<%= histo.playlist.name %>" class="playlistImg">
				<div class="wrapperUsers">
					<i class="icon-flecheg listeUsers-backward"></i>
					<div class="listeUsers">
						<ul>
							<% _.each(histo.users, function (users) { %>
								<li class=""><img class="userImg" src="<%= users.user.image %>" alt="<%= users.user.firstname %>"><div class="error"></div></li>
							<% }); %>
						</ul>
					</div>
					<i class="icon-fleched listeUsers-forward"></i>
				</div>
				<div class="wrapperSongs custom-scroll">
					<ul class="historics">
					<% _.each(histo.songs, function (songs) { %>
							<li>
								<div class="headHistoric">
									<div>
										<strong><%= songs.songTrackName %></strong>
										<span><%= songs.songTrackArtist %></span>
									</div>
									<div>
										<a href="<%= songs.songPermalinkUrl %>" title="écouter"><i class="icon-<%= songs.songService %>ecouter"></i></a>
									</div>
									<div>
										<img src="<%= songs.user.image%>" alt="<%= songs.user.firstname %>"/>
									</div>
									<div >
										<a class="dropDownH"  href="javascript:void(0)" title="Discovery Action"><i id="iconRotate" class="icon-chevron"></i></a>
									</div>
									<div></div>
								</div>
								<div class="historicAction" data-track-id="<%= songs.songTrackId %>">
									<i class="icon-playlist historicToPlaylist"></i>
									<i class="icon-playen"></i>
									<i class="icon-coeursansombre historicToDiscoveries"></i>
								</div>
							</li>
					<% }); %>
					</ul>
				</div>
			</li>
			<hr>
<%
		});
	}

}else { %>

	<br/>
	<p>Your history is empty. </p>
	<p>You should join a Bubble :) </p>


<% } %>